body{
background-color: #e7e7e7;
margin: 0px;
padding: 0px;
}


/* ----------------------- GENERAL TEXT STYLING ------------------------*/


a, p, li{
font-family: 'Roboto', sans-serif;
text-align: center;
text-decoration: none;
color: #fff;
letter-spacing: 2px;
line-height: 140%;
margin: 0px;
padding: 0px;
}

h1, h2{
font-family: 'Comfortaa', cursive;
text-align: center;
line-height: 140%;
font-size: 2.6em;
margin: 10px;
color: #616161;
letter-spacing: 3px;
}

h2{
font-size: 1.5em;
color: lightcoral;
}

header{
margin-top: 80px;
}


/* ---------------------------- CONTAINERS ------------------------------*/


.all_tasks_container{
margin: 0px;
}

.input_task_container{
width: 90vw;
height: 300px;
background-color: #fff;
margin: 40px auto;
padding-top: 30px;
padding-bottom: 85px;
text-align: center;
border-radius: 15px;
}

#submit_message{
color: lightcoral;
}

.current_tasks_container{
width: 90vw;
background-color: #fff;
margin: 20px auto;
padding-top: 30px;
padding-bottom: 50px;
text-align: center;
border-radius: 15px;
}

.completed_tasks_container{
width: 90vw;
background-color: #fff;
margin: 20px auto;
padding-top: 30px;
padding-bottom: 50px;
text-align: center;
border-radius: 15px;
}

.single_task_box{
width: 60vw;
padding: 10px;
margin: 15px;
box-sizing: border-box;
display: inline-block;
}

hr{
border: 0;
width: 40vw;
border-bottom: 2px dashed lightgrey;
}

.single_task_box>p{
font-size: 1em;
margin-top: 15px;
font-weight: 200;
font-style: normal;
color: grey;
}

#createdby_text{
margin-top: -15px;
margin-bottom: 10px;
font-size: 0.9em;
color: lightgrey;
font-style: italic;
}

#completedtask_title{
color: lightgrey;
text-decoration: line-through;
font-style: italic;
}

.actions_box{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}


/* ----------------------- INPUT FIELDS ---------------------------*/


input[type=text]{
width: 70vw;
padding: 16px;
background-color: #ededed;
margin-top: 10px;
border: 1px solid #ededed;
border-radius: 10px;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
display: inline-block;
}

input[type=text], p{
font-size: 0.9em;
letter-spacing: 1px;
font-style: italic;
}

input[type=submit]{
background-color: lightcoral;
border: 1px solid lightcoral;
padding: 18px;
margin-top: 10px;
margin-bottom: 25px;
border-radius: 10px;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
display: inline-block;
}

input[type=submit]:hover{
background-color: #6cc3b6;
border: 1px solid #6cc3b6;
}

input[type=submit], p{
font-size: 0.9em;
color: #fff;
text-align: center;
letter-spacing: 1px;
}

input[id=complete_task]{
background-color: #6cc3b6;
padding: 10px;
margin: 10px;
border-radius: 10px;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
display: inline-block;
}

input[id=delete_task]{
background-color: #d95f63;
padding: 10px;
margin: 10px;
border-radius: 10px;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
display: inline-block;
}

input[id=delete_completed_task]{
background-color: lightgray;
padding: 10px;
margin: 10px;
border-radius: 10px;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
display: inline-block;
}


input[id=undo_completed_task]{
background-color: lightgray;
padding: 10px;
margin: 10px;
border-radius: 10px;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
display: inline-block;
}


/* ---------------------------- FOOTER ------------------------------*/


footer{
background-color: #616161;
padding-top: 35px;
margin-top: 80px;
padding-bottom: 15px;
}

footer, a{
font-size: 0.9em;
letter-spacing: 6px;
}

a:hover{
color: #6cc3b6;
font-size: 0.9em;
letter-spacing: 6px;
}

li{
list-style: none;
text-align: center;
color: #fff;
margin: 20px;
}

ul{
padding: 0px;
}

li .fa{
font-size: 2.5em;
}


/* ----------- TABLET and DESKTOP VERSION ----------- */


@media screen and (min-width: 900px)
{
.input_task_container{
-webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;
margin: 65px auto;
}

hr{
width: 20vw;
}

.all_tasks_container{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
}

.current_tasks_container{
-webkit-box-flex: 2;
    -ms-flex: 2;
        flex: 2;
margin-left: 65px;
margin-right: 30px;
}

.completed_tasks_container{
-webkit-box-flex: 2;
    -ms-flex: 2;
        flex: 2;
margin-right: 65px;
margin-left: 30px;
}

.single_task_box{
width: 35vw;
}

}
